In [43]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')

In [44]:
data.head(25)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1           NaN             of   IN      O
2           NaN  demonstrators  NNS      O
3           NaN           have  VBP      O
4           NaN        marched  VBN      O
5           NaN        through   IN      O
6           NaN         London  NNP  B-geo
7           NaN             to   TO      O
8           NaN        protest   VB      O
9           NaN            the   DT      O
10          NaN            war   NN      O
11          NaN             in   IN      O
12          NaN           Iraq  NNP  B-geo
13          NaN            and   CC      O
14          NaN         demand   VB      O
15          NaN            the   DT      O
16          NaN     withdrawal   NN      O
17          NaN             of   IN      O
18          NaN        British   JJ  B-gpe
19          NaN         troops  NNS      O
20          NaN           from   IN      O
21          NaN           that   DT      O
22          NaN        country   NN      O
23          NaN              .    .      O
24  Sentence: 2       Families  NNS      O

In [45]:
print(f"sentence #: {data['Sentence #'].count()}")
print(f"word: {data['Word'].count()}")
print(f"pos: {data['POS'].count()}")
print(f"tag: {data['Tag'].count()}")

sentence #: 47959
word: 1048565
pos: 1048575
tag: 1048575

In [46]:
data.columns

Index(['Sentence #', 'Word', 'POS', 'Tag'], dtype='object')

In [47]:
list_all_pos = data['POS'].unique()
data['POS'].unique()

array(['NNS', 'IN', 'VBP', 'VBN', 'NNP', 'TO', 'VB', 'DT', 'NN', 'CC',
       'JJ', '.', 'VBD', 'WP', '``', 'CD', 'PRP', 'VBZ', 'POS', 'VBG',
       'RB', ',', 'WRB', 'PRP$', 'MD', 'WDT', 'JJR', ':', 'JJS', 'WP$',
       'RP', 'PDT', 'NNPS', 'EX', 'RBS', 'LRB', 'RRB', '$', 'RBR', ';',
       'UH', 'FW'], dtype=object)

In [48]:
pos_chars_unused = [item for item in list_all_pos.tolist() if not item.isupper()]
pos_chars_unused

['.', '``', ',', ':', '$', ';']

In [49]:
def get_token2index_and_index2token(data, column):
    vacab = list(set(data[column].to_list()))

    index2token = {index:token for index, token in enumerate(vacab)}
    token2index = {token:index for index, token in enumerate(vacab)}

    return index2token, token2index

In [50]:
word2index, index2word = get_token2index_and_index2token(data=data, column='Word')
tag2index, index2tag = get_token2index_and_index2token(data=data, column='Tag')

In [51]:
data['Word_idx'] = data['Word'].map(word2index)
data['Tag_idx'] = data['Tag'].map(tag2index)

In [52]:
data.columns

Index(['Sentence #', 'Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'], dtype='object')

In [53]:
data.head(15)

     Sentence #           Word  POS    Tag Word_idx Tag_idx
0   Sentence: 1      Thousands  NNS      O      NaN     NaN
1           NaN             of   IN      O      NaN     NaN
2           NaN  demonstrators  NNS      O      NaN     NaN
3           NaN           have  VBP      O      NaN     NaN
4           NaN        marched  VBN      O      NaN     NaN
5           NaN        through   IN      O      NaN     NaN
6           NaN         London  NNP  B-geo      NaN     NaN
7           NaN             to   TO      O      NaN     NaN
8           NaN        protest   VB      O      NaN     NaN
9           NaN            the   DT      O      NaN     NaN
10          NaN            war   NN      O      NaN     NaN
11          NaN             in   IN      O      NaN     NaN
12          NaN           Iraq  NNP  B-geo      NaN     NaN
13          NaN            and   CC      O      NaN     NaN
14          NaN         demand   VB      O      NaN     NaN

In [54]:
data_fillna = data.ffill(axis=0)  # substitui fillna(method='ffill') metodo usado para preencher para frente

C:\Users\User\AppData\Local\Temp\ipykernel_30976\1211054642.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_fillna = data.ffill(axis=0)  # substitui fillna(method='ffill') metodo usado para preencher para frente

In [55]:
data_fillna.head(25)

     Sentence #           Word  POS    Tag  Word_idx  Tag_idx
0   Sentence: 1      Thousands  NNS      O       NaN      NaN
1   Sentence: 1             of   IN      O       NaN      NaN
2   Sentence: 1  demonstrators  NNS      O       NaN      NaN
3   Sentence: 1           have  VBP      O       NaN      NaN
4   Sentence: 1        marched  VBN      O       NaN      NaN
5   Sentence: 1        through   IN      O       NaN      NaN
6   Sentence: 1         London  NNP  B-geo       NaN      NaN
7   Sentence: 1             to   TO      O       NaN      NaN
8   Sentence: 1        protest   VB      O       NaN      NaN
9   Sentence: 1            the   DT      O       NaN      NaN
10  Sentence: 1            war   NN      O       NaN      NaN
11  Sentence: 1             in   IN      O       NaN      NaN
12  Sentence: 1           Iraq  NNP  B-geo       NaN      NaN
13  Sentence: 1            and   CC      O       NaN      NaN
14  Sentence: 1         demand   VB      O       NaN      NaN
15  Sentence: 1            the   DT      O       NaN      NaN
16  Sentence: 1     withdrawal   NN      O       NaN      NaN
17  Sentence: 1             of   IN      O       NaN      NaN
18  Sentence: 1        British   JJ  B-gpe       NaN      NaN
19  Sentence: 1         troops  NNS      O       NaN      NaN
20  Sentence: 1           from   IN      O       NaN      NaN
21  Sentence: 1           that   DT      O       NaN      NaN
22  Sentence: 1        country   NN      O       NaN      NaN
23  Sentence: 1              .    .      O       NaN      NaN
24  Sentence: 2       Families  NNS      O       NaN      NaN

In [56]:
data_fillna['Sentence #'].unique()

array(['Sentence: 1', 'Sentence: 2', 'Sentence: 3', ...,
       'Sentence: 47957', 'Sentence: 47958', 'Sentence: 47959'],
      dtype=object)

In [58]:
# Retorna um Series booleano indicando quais linhas têm esse valor
mask = data_fillna['Sentence #'] == "Sentence: 2"

# Se quiser apenas saber se existe pelo menos um caso:
existe = mask.any()

print(existe)  # True se existir, False se não existir

True

In [59]:
# Coninuar aqui
data_group = (
    data_fillna
      .groupby('Sentence #', as_index=False)[['Word', 'POS', 'Tag']]
      .agg(list)
)

In [22]:
data_group = (
    data_fillna
      .groupby('Sentence #', as_index=False)[['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx']]
      .agg(list)
)

In [60]:
print(data_group['Sentence #'].count())
print(data_group['Word'].count())
print(data_group['POS'].count())
print(data_group['Tag'].count())

47959
47959
47959
47959

In [61]:
# Retorna um Series booleano indicando quais linhas têm esse valor
mask = data_group['Sentence #'] == "Sentence: 2"

# Se quiser apenas saber se existe pelo menos um caso:
existe = mask.any()

print(existe)  # True se existir, False se não existir

True

In [62]:
data_group['Phase'] = ''

# Preenche usando o loop
for idx, row in data_group['Word'].items():
    data_group.at[idx, 'Phase'] = ' '.join(row)

In [63]:
data_group['Phase'].head(1)

0    Thousands of demonstrators have marched throug...
Name: Phase, dtype: object

In [64]:
def remove_dublespaces(text, char):
    if f' {char} ' in text:
        text = text.replace(f' {char} ', f'{char} ')

    return text

In [65]:
for idx, row in data_group['Phase'].items():
    for char in pos_chars_unused:
        data_group.at[idx, 'Phase'] = remove_dublespaces(row, char)

In [67]:
data_group.head()

,Sentence #,Word,POS,Tag,Phase
0,Sentence: 1,"[Thousands, of, demonstrators, have, marched, ...","[NNS, IN, NNS, VBP, VBN, IN, NNP, TO, VB, DT, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo...",Thousands of demonstrators have marched throug...
1,Sentence: 10,"[Iranian, officials, say, they, expect, to, ge...","[JJ, NNS, VBP, PRP, VBP, TO, VB, NN, TO, JJ, J...","[B-gpe, O, O, O, O, O, O, O, O, O, O, O, O, O,...",Iranian officials say they expect to get acces...
2,Sentence: 100,"[Helicopter, gunships, Saturday, pounded, mili...","[NN, NNS, NNP, VBD, JJ, NNS, IN, DT, NNP, JJ, ...","[O, O, B-tim, O, O, O, O, O, B-geo, O, O, O, O...",Helicopter gunships Saturday pounded militant ...
3,Sentence: 1000,"[They, left, after, a, tense, hour-long, stand...","[PRP, VBD, IN, DT, NN, JJ, NN, IN, NN, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O]",They left after a tense hour-long standoff wit...
4,Sentence: 10000,"[U.N., relief, coordinator, Jan, Egeland, said...","[NNP, NN, NN, NNP, NNP, VBD, NNP, ,, NNP, ,, J...","[B-geo, O, O, B-per, I-per, O, B-tim, O, B-geo...",U.N. relief coordinator Jan Egeland said Sunda...

In [70]:
import pandas as pd

# Cria a coluna Position como lista vazia
data_group['Position'] = [[] for _ in range(len(data_group))]

for idx, row in data_group.iterrows():
    positions = []
    for idxW, word in enumerate(row['Word']):
        try:
            index = row['Phase'].index(word)
            lenWord = len(word)
            positions.append((index, lenWord, row['POS'][idxW]))
        except ValueError:
            # Palavra não encontrada na Phase
            pass
    data_group.at[idx, 'Position'] = positions

In [71]:
data_group.head()

,Sentence #,Word,POS,Tag,Phase,Position
0,Sentence: 1,"[Thousands, of, demonstrators, have, marched, ...","[NNS, IN, NNS, VBP, VBN, IN, NNP, TO, VB, DT, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo...",Thousands of demonstrators have marched throug...,"[(0, 9, NNS), (10, 2, IN), (13, 13, NNS), (27,..."
1,Sentence: 10,"[Iranian, officials, say, they, expect, to, ge...","[JJ, NNS, VBP, PRP, VBP, TO, VB, NN, TO, JJ, J...","[B-gpe, O, O, O, O, O, O, O, O, O, O, O, O, O,...",Iranian officials say they expect to get acces...,"[(0, 7, JJ), (8, 9, NNS), (18, 3, VBP), (22, 4..."
2,Sentence: 100,"[Helicopter, gunships, Saturday, pounded, mili...","[NN, NNS, NNP, VBD, JJ, NNS, IN, DT, NNP, JJ, ...","[O, O, B-tim, O, O, O, O, O, B-geo, O, O, O, O...",Helicopter gunships Saturday pounded militant ...,"[(0, 10, NN), (11, 8, NNS), (20, 8, NNP), (29,..."
3,Sentence: 1000,"[They, left, after, a, tense, hour-long, stand...","[PRP, VBD, IN, DT, NN, JJ, NN, IN, NN, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O]",They left after a tense hour-long standoff wit...,"[(0, 4, PRP), (5, 4, VBD), (10, 5, IN), (10, 1..."
4,Sentence: 10000,"[U.N., relief, coordinator, Jan, Egeland, said...","[NNP, NN, NN, NNP, NNP, VBD, NNP, ,, NNP, ,, J...","[B-geo, O, O, B-per, I-per, O, B-tim, O, B-geo...",U.N. relief coordinator Jan Egeland said Sunda...,"[(0, 4, NNP), (5, 6, NN), (12, 11, NN), (24, 3..."

In [ ]:
# da errado mas cheguei perto

data_group['Position'] = ''

for idx, row in data_group.items():
    data_group['Position'][idx] = []

    for idxW, word in enumerate(data_group['Word']):
        index = data_group['Phase'][idx].index(word)
        lenWord = len(word)
        data_group['Position'][idx].append((index, lenWord, data_group['POS'][idxW]))

In [73]:
list_finished_dataset = []

for idx, row in data_group.iterrows():
    list_finished_dataset.append((row["Phase"], {"entities": row["Position"]}))

In [ ]:
list_finished_dataset

In [76]:
cut = int(len(list_finished_dataset) * 0.1)

DEV_DATA = list_finished_dataset[:cut]
TRAIN_DATA = list_finished_dataset[cut:]

In [6]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]

    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )

    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [20]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]

    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )

    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [21]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)

In [22]:
def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()

    return model

In [24]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
model_bilstm_lstm.build(input_shape=(None, train_tokens.shape[1])) # Explicitly build the model
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/embedding.py:97: UserWarning: Argument `input_length` is deprecated. Just remove it.
  warnings.warn(

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ embedding_3 (Embedding)         │ ?                      │   0 (unbuilt) │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ bidirectional_3 (Bidirectional) │ ?                      │   0 (unbuilt) │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ lstm_8 (LSTM)                   │ ?                      │   0 (unbuilt) │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ time_distributed_3              │ ?                      │   0 (unbuilt) │
│ (TimeDistributed)               │                        │               │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 0 (0.00 B)

 Trainable params: 0 (0.00 B)

 Non-trainable params: 0 (0.00 B)

26/26 ━━━━━━━━━━━━━━━━━━━━ 95s 3s/step - accuracy: 0.8038 - loss: 2.2385 - val_accuracy: 0.9681 - val_loss: 0.4238
26/26 ━━━━━━━━━━━━━━━━━━━━ 74s 3s/step - accuracy: 0.9676 - loss: 0.3937 - val_accuracy: 0.9681 - val_loss: 0.3002
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9676 - loss: 0.3328 - val_accuracy: 0.9681 - val_loss: 0.2683
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9675 - loss: 0.3028 - val_accuracy: 0.9681 - val_loss: 0.2385
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9676 - loss: 0.2755 - val_accuracy: 0.9681 - val_loss: 0.2256
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9677 - loss: 0.2513 - val_accuracy: 0.9682 - val_loss: 0.2001
26/26 ━━━━━━━━━━━━━━━━━━━━ 76s 3s/step - accuracy: 0.9677 - loss: 0.2267 - val_accuracy: 0.9682 - val_loss: 0.1909
26/26 ━━━━━━━━━━━━━━━━━━━━ 80s 3s/step - accuracy: 0.9677 - loss: 0.2127 - val_accuracy: 0.9683 - val_loss: 0.2130
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9678 - loss: 0.2352 - val_accuracy: 0.9683 - val_loss: 0.1832
26/26 ━━━━━━━━━━━━━━━━━━━━ 78s 3s/step - accuracy: 0.9678 - loss: 0.2027 - val_accuracy: 0.9683 - val_loss: 0.1671
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9678 - loss: 0.1886 - val_accuracy: 0.9683 - val_loss: 0.1723
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9679 - loss: 0.1836 - val_accuracy: 0.9684 - val_loss: 0.1481
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9679 - loss: 0.1656 - val_accuracy: 0.9687 - val_loss: 0.1467
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9682 - loss: 0.1625 - val_accuracy: 0.9687 - val_loss: 0.1359
26/26 ━━━━━━━━━━━━━━━━━━━━ 76s 3s/step - accuracy: 0.9682 - loss: 0.1498 - val_accuracy: 0.9689 - val_loss: 0.1318
26/26 ━━━━━━━━━━━━━━━━━━━━ 83s 3s/step - accuracy: 0.9683 - loss: 0.1451 - val_accuracy: 0.9690 - val_loss: 0.1278
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9683 - loss: 0.1585 - val_accuracy: 0.9690 - val_loss: 0.1337
26/26 ━━━━━━━━━━━━━━━━━━━━ 76s 3s/step - accuracy: 0.9684 - loss: 0.1432 - val_accuracy: 0.9690 - val_loss: 0.1256
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9684 - loss: 0.1343 - val_accuracy: 0.9692 - val_loss: 0.1240
26/26 ━━━━━━━━━━━━━━━━━━━━ 78s 3s/step - accuracy: 0.9686 - loss: 0.1295 - val_accuracy: 0.9692 - val_loss: 0.1226
26/26 ━━━━━━━━━━━━━━━━━━━━ 83s 3s/step - accuracy: 0.9687 - loss: 0.1259 - val_accuracy: 0.9693 - val_loss: 0.1196
26/26 ━━━━━━━━━━━━━━━━━━━━ 88s 3s/step - accuracy: 0.9689 - loss: 0.1226 - val_accuracy: 0.9696 - val_loss: 0.1213
26/26 ━━━━━━━━━━━━━━━━━━━━ 86s 3s/step - accuracy: 0.9580 - loss: 0.1950 - val_accuracy: 0.9687 - val_loss: 0.1514
26/26 ━━━━━━━━━━━━━━━━━━━━ 81s 3s/step - accuracy: 0.9679 - loss: 0.1587 - val_accuracy: 0.9687 - val_loss: 0.1287
26/26 ━━━━━━━━━━━━━━━━━━━━ 81s 3s/step - accuracy: 0.9682 - loss: 0.1419 - val_accuracy: 0.9688 - val_loss: 0.1267

In [25]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
text = nlp('Hi, My name is Aman Kharwal \n I am from India \n I want to work with Google \n Steve Jobs is My Inspiration')
displacy.render(text, style = 'ent', jupyter=True)

In [2]:
# !pip install -U spacy>=3.7
import random
import spacy
from spacy.util import minibatch
from spacy.training import Example
from spacy.scorer import Scorer

In [3]:
# -----------------------------
# 1) Dados mock (corrigidos)
# -----------------------------
TRAIN_DATA = [
    ("João mora em São Paulo.", {"entities": [(0, 4, "PER"), (13, 22, "LOC")]}),
    ("Maria trabalha na Google em Belo Horizonte.", {"entities": [(0, 5, "PER"), (18, 24, "ORG"), (28, 42, "LOC")]}),
    ("A Apple comprou a Embraer.", {"entities": [(2, 7, "ORG"), (18, 25, "ORG")]}),
    ("A Ana visitou o Rio de Janeiro.", {"entities": [(2, 5, "PER"), (16, 30, "LOC")]}),
    ("Pedro nasceu em Lisboa.", {"entities": [(0, 5, "PER"), (16, 22, "LOC")]}),
    ("A Microsoft abriu escritório em Recife.", {"entities": [(2, 11, "ORG"), (32, 38, "LOC")]}),
]

DEV_DATA = [
    ("Carla foi para Porto Alegre ontem.", {"entities": [(0, 5, "PER"), (15, 27, "LOC")]}),
    ("Google contratou João em 2024.", {"entities": [(0, 6, "ORG"), (17, 21, "PER")]}),
]

In [78]:
# --------------------------------------
# 2) Cria um pipeline NER do zero (pt)
# --------------------------------------
nlp = spacy.blank("en")           # modelo em branco (sem vocabulário treinado)
ner = nlp.add_pipe("ner")

# adiciona os rótulos vistos nos dados
for _, ann in TRAIN_DATA + DEV_DATA:
    for start, end, label in ann.get("entities", []):
        ner.add_label(label)

# helper para converter (text, ann) -> Example
def make_examples(nlp, data):
    examples = []
    for text, ann in data:
        doc = nlp.make_doc(text)
        spans = []
        for start, end, label in ann["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")

            if span is None:
                raise ValueError(f"Span inválido em: {text!r} -> {(start, end, label)}")
            
            spans.append(span)
            
        doc_ents = {"entities": [(s.start_char, s.end_char, s.label_) for s in spans]}
        examples.append(Example.from_dict(doc, doc_ents))
    return examples

train_examples = make_examples(nlp, TRAIN_DATA)
dev_examples   = make_examples(nlp, DEV_DATA)

ValueError: Span inválido em: 'A purported Taleban commander says al-Qaida terror network chief Osama bin Laden and Taleban leader Mullah Mohammad Omar are both alive after more than three years on the run .' -> (2, 9, 'JJ')

In [5]:
print(train_examples)
print(type(train_examples))
print(dev_examples)
print(type(dev_examples))

[{'doc_annotation': {'cats': {}, 'entities': ['U-PER', 'O', 'O', 'B-LOC', 'L-LOC', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['João', 'mora', 'em', 'São', 'Paulo', '.'], 'SPACY': [True, True, True, True, False, False], 'TAG': ['', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', ''], 'POS': ['', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5], 'DEP': ['', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0]}}, {'doc_annotation': {'cats': {}, 'entities': ['U-PER', 'O', 'O', 'U-ORG', 'O', 'B-LOC', 'L-LOC', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['Maria', 'trabalha', 'na', 'Google', 'em', 'Belo', 'Horizonte', '.'], 'SPACY': [True, True, True, True, True, True, False, False], 'TAG': ['', '', '', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', '', '', ''], 'POS': ['', '', '', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5, 6, 7], 'DEP': ['', '', '', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0, 0, 0]}}, {'doc_annotation': {'cats': {}, 'entities': ['O', 'U-ORG', 'O', 'O', 'U-ORG', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['A', 'Apple', 'comprou', 'a', 'Embraer', '.'], 'SPACY': [True, True, True, True, False, False], 'TAG': ['', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', ''], 'POS': ['', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5], 'DEP': ['', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0]}}, {'doc_annotation': {'cats': {}, 'entities': ['O', 'U-PER', 'O', 'O', 'B-LOC', 'I-LOC', 'L-LOC', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['A', 'Ana', 'visitou', 'o', 'Rio', 'de', 'Janeiro', '.'], 'SPACY': [True, True, True, True, True, True, False, False], 'TAG': ['', '', '', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', '', '', ''], 'POS': ['', '', '', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5, 6, 7], 'DEP': ['', '', '', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0, 0, 0]}}, {'doc_annotation': {'cats': {}, 'entities': ['U-PER', 'O', 'O', 'U-LOC', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['Pedro', 'nasceu', 'em', 'Lisboa', '.'], 'SPACY': [True, True, True, False, False], 'TAG': ['', '', '', '', ''], 'LEMMA': ['', '', '', '', ''], 'POS': ['', '', '', '', ''], 'MORPH': ['', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4], 'DEP': ['', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0]}}, {'doc_annotation': {'cats': {}, 'entities': ['O', 'U-ORG', 'O', 'O', 'O', 'U-LOC', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['A', 'Microsoft', 'abriu', 'escritório', 'em', 'Recife', '.'], 'SPACY': [True, True, True, True, True, False, False], 'TAG': ['', '', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', '', ''], 'POS': ['', '', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5, 6], 'DEP': ['', '', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0, 0]}}]
<class 'list'>
[{'doc_annotation': {'cats': {}, 'entities': ['U-PER', 'O', 'O', 'B-LOC', 'L-LOC', 'O', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['Carla', 'foi', 'para', 'Porto', 'Alegre', 'ontem', '.'], 'SPACY': [True, True, True, True, True, False, False], 'TAG': ['', '', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', '', ''], 'POS': ['', '', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5, 6], 'DEP': ['', '', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0, 0]}}, {'doc_annotation': {'cats': {}, 'entities': ['U-ORG', 'O', 'U-PER', 'O', 'O', 'O'], 'spans': {}, 'links': {}}, 'token_annotation': {'ORTH': ['Google', 'contratou', 'João', 'em', '2024', '.'], 'SPACY': [True, True, True, True, False, False], 'TAG': ['', '', '', '', '', ''], 'LEMMA': ['', '', '', '', '', ''], 'POS': ['', '', '', '', '', ''], 'MORPH': ['', '', '', '', '', ''], 'HEAD': [0, 1, 2, 3, 4, 5], 'DEP': ['', '', '', '', '', ''], 'SENT_START': [1, 0, 0, 0, 0, 0]}}]
<class 'list'>

In [6]:
nlp.pipe_names

['ner']

In [6]:
# --------------------------------------
# 3) Treinamento
# --------------------------------------
# desabilite outros pipes (aqui só temos o 'ner' mesmo)
other_pipes = [p for p in nlp.pipe_names if p != "ner"]
with nlp.disable_pipes(*other_pipes):
    optimizer = nlp.initialize(get_examples=lambda: train_examples)
    n_iter = 30
    for itn in range(1, n_iter + 1):
        random.shuffle(train_examples)
        losses = {}
        # minibatches progressivamente maiores ajudam em dados pequenos
        for batch in minibatch(train_examples, size=4):
            nlp.update(batch, sgd=optimizer, drop=0.2, losses=losses)
        if itn % 5 == 0 or itn == 1 or itn == n_iter:
            print(f"Iter {itn:02d} - loss: {losses.get('ner', 0):.4f}")

Iter 01 - loss: 30.0779
Iter 05 - loss: 29.0852
Iter 10 - loss: 15.5622
Iter 15 - loss: 11.8380
Iter 20 - loss: 5.2793
Iter 25 - loss: 0.8475
Iter 30 - loss: 0.0020

In [ ]:
# 📌 Célula 4 – Avaliação (corrigida)
def evaluate(nlp, examples):
    # gera previsões de forma vetorizada
    pred_docs = list(nlp.pipe([ex.text for ex in examples]))
    pred_examples = [Example(pred, ex.reference) for pred, ex in zip(pred_docs, examples)]

    scorer = Scorer()
    scores = scorer.score(pred_examples)  # <-- passa a LISTA de Example
    return {
        "precision": scores["ents_p"],
        "recall":    scores["ents_r"],
        "f1":        scores["ents_f"],
    }

metrics = evaluate(nlp, dev_examples)
print("DEV metrics:", metrics)

DEV metrics: {'precision': 0.5, 'recall': 0.5, 'f1': 0.5}

In [8]:

# --------------------------------------
# 5) Teste rápido
# --------------------------------------
tests = [
    "Marcos trabalha na Apple em São Paulo.",
    "A Embraer fica no Brasil.",
    "A Ana voou para Porto Alegre.",
]
for t in tests:
    doc = nlp(t)
    print("\nTexto:", t)
    for ent in doc.ents:
        print(f" - {ent.text:<20} {ent.label_}")

Texto: Marcos trabalha na Apple em São Paulo.
 - Marcos               PER
 - Apple                ORG
 - São Paulo            LOC

Texto: A Embraer fica no Brasil.
 - Embraer              ORG
 - Brasil               ORG

Texto: A Ana voou para Porto Alegre.
 - Ana                  PER
 - Porto                ORG

In [9]:
# 📌 Célula 7 – Salvar o modelo treinado
output_dir = "modelo_ner_pt"
nlp.to_disk(output_dir)
print(f"Modelo salvo em: {output_dir}")

Modelo salvo em: modelo_ner_pt

In [10]:
# 📌 Célula 8 – Carregar o modelo treinado
import spacy
nlp_carregado = spacy.load("modelo_ner_pt")

# Teste rápido
doc = nlp_carregado("Ana foi para Lisboa.")
for ent in doc.ents:
    print(ent.text, ent.label_)

Ana PER
Lisboa LOC