In [1]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')

In [2]:
data.head(25)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1           NaN             of   IN      O
2           NaN  demonstrators  NNS      O
3           NaN           have  VBP      O
4           NaN        marched  VBN      O
5           NaN        through   IN      O
6           NaN         London  NNP  B-geo
7           NaN             to   TO      O
8           NaN        protest   VB      O
9           NaN            the   DT      O
10          NaN            war   NN      O
11          NaN             in   IN      O
12          NaN           Iraq  NNP  B-geo
13          NaN            and   CC      O
14          NaN         demand   VB      O
15          NaN            the   DT      O
16          NaN     withdrawal   NN      O
17          NaN             of   IN      O
18          NaN        British   JJ  B-gpe
19          NaN         troops  NNS      O
20          NaN           from   IN      O
21          NaN           that   DT      O
22          NaN        country   NN      O
23          NaN              .    .      O
24  Sentence: 2       Families  NNS      O

In [3]:
data.columns

Index(['Sentence #', 'Word', 'POS', 'Tag'], dtype='object')

In [4]:
list_all_pos = data['POS'].unique()
data['POS'].unique()

array(['NNS', 'IN', 'VBP', 'VBN', 'NNP', 'TO', 'VB', 'DT', 'NN', 'CC',
       'JJ', '.', 'VBD', 'WP', '``', 'CD', 'PRP', 'VBZ', 'POS', 'VBG',
       'RB', ',', 'WRB', 'PRP$', 'MD', 'WDT', 'JJR', ':', 'JJS', 'WP$',
       'RP', 'PDT', 'NNPS', 'EX', 'RBS', 'LRB', 'RRB', '$', 'RBR', ';',
       'UH', 'FW'], dtype=object)

In [5]:
pos_chars = [item for item in list_all_pos.tolist() if not item.isupper()]
pos_chars

['.', '``', ',', ':', '$', ';']

In [6]:
def get_token2index_and_index2token(data, column):
    vacab = list(set(data[column].to_list()))

    index2token = {index:token for index, token in enumerate(vacab)}
    token2index = {token:index for index, token in enumerate(vacab)}

    return index2token, token2index

In [7]:
word2index, index2word = get_token2index_and_index2token(data=data, column='Word')
tag2index, index2tag = get_token2index_and_index2token(data=data, column='Tag')

In [8]:
data['Word_idx'] = data['Word'].map(word2index)
data['Tag_idx'] = data['Tag'].map(tag2index)

In [9]:
data.columns

Index(['Sentence #', 'Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'], dtype='object')

In [10]:
data.head(15)

     Sentence #           Word  POS    Tag Word_idx Tag_idx
0   Sentence: 1      Thousands  NNS      O      NaN     NaN
1           NaN             of   IN      O      NaN     NaN
2           NaN  demonstrators  NNS      O      NaN     NaN
3           NaN           have  VBP      O      NaN     NaN
4           NaN        marched  VBN      O      NaN     NaN
5           NaN        through   IN      O      NaN     NaN
6           NaN         London  NNP  B-geo      NaN     NaN
7           NaN             to   TO      O      NaN     NaN
8           NaN        protest   VB      O      NaN     NaN
9           NaN            the   DT      O      NaN     NaN
10          NaN            war   NN      O      NaN     NaN
11          NaN             in   IN      O      NaN     NaN
12          NaN           Iraq  NNP  B-geo      NaN     NaN
13          NaN            and   CC      O      NaN     NaN
14          NaN         demand   VB      O      NaN     NaN

In [11]:
data_fillna = data.ffill(axis=0)  # substitui fillna(method='ffill') metodo usado para preencher para frente

C:\Users\User\AppData\Local\Temp\ipykernel_408\1211054642.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_fillna = data.ffill(axis=0)  # substitui fillna(method='ffill') metodo usado para preencher para frente

In [12]:
data_fillna.head(25)

     Sentence #           Word  POS    Tag  Word_idx  Tag_idx
0   Sentence: 1      Thousands  NNS      O       NaN      NaN
1   Sentence: 1             of   IN      O       NaN      NaN
2   Sentence: 1  demonstrators  NNS      O       NaN      NaN
3   Sentence: 1           have  VBP      O       NaN      NaN
4   Sentence: 1        marched  VBN      O       NaN      NaN
5   Sentence: 1        through   IN      O       NaN      NaN
6   Sentence: 1         London  NNP  B-geo       NaN      NaN
7   Sentence: 1             to   TO      O       NaN      NaN
8   Sentence: 1        protest   VB      O       NaN      NaN
9   Sentence: 1            the   DT      O       NaN      NaN
10  Sentence: 1            war   NN      O       NaN      NaN
11  Sentence: 1             in   IN      O       NaN      NaN
12  Sentence: 1           Iraq  NNP  B-geo       NaN      NaN
13  Sentence: 1            and   CC      O       NaN      NaN
14  Sentence: 1         demand   VB      O       NaN      NaN
15  Sentence: 1            the   DT      O       NaN      NaN
16  Sentence: 1     withdrawal   NN      O       NaN      NaN
17  Sentence: 1             of   IN      O       NaN      NaN
18  Sentence: 1        British   JJ  B-gpe       NaN      NaN
19  Sentence: 1         troops  NNS      O       NaN      NaN
20  Sentence: 1           from   IN      O       NaN      NaN
21  Sentence: 1           that   DT      O       NaN      NaN
22  Sentence: 1        country   NN      O       NaN      NaN
23  Sentence: 1              .    .      O       NaN      NaN
24  Sentence: 2       Families  NNS      O       NaN      NaN

In [21]:
# Coninuar aqui
data_group = (
    data_fillna
      .groupby('Sentence #', as_index=False)[['Word', 'POS', 'Tag']]
      .agg(list)
)

In [22]:
data_group = (
    data_fillna
      .groupby('Sentence #', as_index=False)[['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx']]
      .agg(list)
)

In [26]:
len(data_fillna['Sentence #'].unique())

47959

In [27]:
len(data_group['Sentence #'].unique())

47959

In [6]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]

    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )

    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [20]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]

    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )

    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 32372
train_tokens length: 32372
test_tokens length: 4796
test_tags: 4796
val_tokens: 10791
val_tags: 10791

In [21]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)

In [22]:
def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()

    return model

In [24]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
model_bilstm_lstm.build(input_shape=(None, train_tokens.shape[1])) # Explicitly build the model
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/embedding.py:97: UserWarning: Argument `input_length` is deprecated. Just remove it.
  warnings.warn(

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ embedding_3 (Embedding)         │ ?                      │   0 (unbuilt) │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ bidirectional_3 (Bidirectional) │ ?                      │   0 (unbuilt) │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ lstm_8 (LSTM)                   │ ?                      │   0 (unbuilt) │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ time_distributed_3              │ ?                      │   0 (unbuilt) │
│ (TimeDistributed)               │                        │               │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 0 (0.00 B)

 Trainable params: 0 (0.00 B)

 Non-trainable params: 0 (0.00 B)

26/26 ━━━━━━━━━━━━━━━━━━━━ 95s 3s/step - accuracy: 0.8038 - loss: 2.2385 - val_accuracy: 0.9681 - val_loss: 0.4238
26/26 ━━━━━━━━━━━━━━━━━━━━ 74s 3s/step - accuracy: 0.9676 - loss: 0.3937 - val_accuracy: 0.9681 - val_loss: 0.3002
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9676 - loss: 0.3328 - val_accuracy: 0.9681 - val_loss: 0.2683
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9675 - loss: 0.3028 - val_accuracy: 0.9681 - val_loss: 0.2385
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9676 - loss: 0.2755 - val_accuracy: 0.9681 - val_loss: 0.2256
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9677 - loss: 0.2513 - val_accuracy: 0.9682 - val_loss: 0.2001
26/26 ━━━━━━━━━━━━━━━━━━━━ 76s 3s/step - accuracy: 0.9677 - loss: 0.2267 - val_accuracy: 0.9682 - val_loss: 0.1909
26/26 ━━━━━━━━━━━━━━━━━━━━ 80s 3s/step - accuracy: 0.9677 - loss: 0.2127 - val_accuracy: 0.9683 - val_loss: 0.2130
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9678 - loss: 0.2352 - val_accuracy: 0.9683 - val_loss: 0.1832
26/26 ━━━━━━━━━━━━━━━━━━━━ 78s 3s/step - accuracy: 0.9678 - loss: 0.2027 - val_accuracy: 0.9683 - val_loss: 0.1671
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9678 - loss: 0.1886 - val_accuracy: 0.9683 - val_loss: 0.1723
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9679 - loss: 0.1836 - val_accuracy: 0.9684 - val_loss: 0.1481
26/26 ━━━━━━━━━━━━━━━━━━━━ 75s 3s/step - accuracy: 0.9679 - loss: 0.1656 - val_accuracy: 0.9687 - val_loss: 0.1467
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9682 - loss: 0.1625 - val_accuracy: 0.9687 - val_loss: 0.1359
26/26 ━━━━━━━━━━━━━━━━━━━━ 76s 3s/step - accuracy: 0.9682 - loss: 0.1498 - val_accuracy: 0.9689 - val_loss: 0.1318
26/26 ━━━━━━━━━━━━━━━━━━━━ 83s 3s/step - accuracy: 0.9683 - loss: 0.1451 - val_accuracy: 0.9690 - val_loss: 0.1278
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9683 - loss: 0.1585 - val_accuracy: 0.9690 - val_loss: 0.1337
26/26 ━━━━━━━━━━━━━━━━━━━━ 76s 3s/step - accuracy: 0.9684 - loss: 0.1432 - val_accuracy: 0.9690 - val_loss: 0.1256
26/26 ━━━━━━━━━━━━━━━━━━━━ 77s 3s/step - accuracy: 0.9684 - loss: 0.1343 - val_accuracy: 0.9692 - val_loss: 0.1240
26/26 ━━━━━━━━━━━━━━━━━━━━ 78s 3s/step - accuracy: 0.9686 - loss: 0.1295 - val_accuracy: 0.9692 - val_loss: 0.1226
26/26 ━━━━━━━━━━━━━━━━━━━━ 83s 3s/step - accuracy: 0.9687 - loss: 0.1259 - val_accuracy: 0.9693 - val_loss: 0.1196
26/26 ━━━━━━━━━━━━━━━━━━━━ 88s 3s/step - accuracy: 0.9689 - loss: 0.1226 - val_accuracy: 0.9696 - val_loss: 0.1213
26/26 ━━━━━━━━━━━━━━━━━━━━ 86s 3s/step - accuracy: 0.9580 - loss: 0.1950 - val_accuracy: 0.9687 - val_loss: 0.1514
26/26 ━━━━━━━━━━━━━━━━━━━━ 81s 3s/step - accuracy: 0.9679 - loss: 0.1587 - val_accuracy: 0.9687 - val_loss: 0.1287
26/26 ━━━━━━━━━━━━━━━━━━━━ 81s 3s/step - accuracy: 0.9682 - loss: 0.1419 - val_accuracy: 0.9688 - val_loss: 0.1267

In [25]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
text = nlp('Hi, My name is Aman Kharwal \n I am from India \n I want to work with Google \n Steve Jobs is My Inspiration')
displacy.render(text, style = 'ent', jupyter=True)